.formBlock {
  max-width: 100%;
  position: absolute;
  right: 0px;
  /* max-height: 50%; */
  /* overflow-y: scroll; */
}

.input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 3px;
}

#form {
  padding: 0;
  margin: 0;
}

input:nth-child(1) {
  margin-bottom: 10px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-container {
  display: flex;
}

.rollbackButton {
  padding: 5px 5px;
  margin: 5px;
}

/* @media screen and (max-width: 450px) {
  .formBlock {
    height: max-content;
  }
} */
