.application {
  display: flex;
  flex-direction: row;
}

.map {
  width: 100vw;
  height: 100%;
}

.attributeFormFaculty {
  display: block;
  height: 82%;
  overflow-y: auto;
  margin-top: 10px;
}

.formBlock {
  max-width: 550px;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  width: 100%;
  height: 98%;
  flex-direction: column;

  /* overflow-y: auto; */
}