.formBlock {
  max-width: 550px;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  width: 100%;
  height: 98%;

  /* overflow-y: auto; */
}

.input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 3px;
}

#form {
  padding: 0;
  margin: 0;
}

input:nth-child(1) {
  margin-bottom: 10px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-container {
  display: flex;
}

.attribute {
  display: block;
  height: 82%;
  overflow-y: auto;
  margin-top: 10px;
}

.rollbackButton {
  padding: 5px 5px;
  margin: 5px;
}
